
backend/.env
backend/venv/*
backend/__pycache__
*.bkp

backendSerial/__pycache__/

*.log
backendSerial/venv/*
backendSerial/comandos para ligar e desligar ar

backendSerial/teste.py

backendSerial/teste.txt

.env

backend/auxilio ao banco/criação tabelas no banco.txt

backend/auxilio ao banco/Informação para criação de tabelas no banco

backend_backup/

frontend_backup/
