MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
TZ=

MYSQL_CONTAINER_PORT=
MYSQL_HOST_PORT=

INTERNAL_API_TOKEN=
MQTT_BROKER_PRIMARY_HOST=
MQTT_BROKER_PRIMARY_PORT=
MQTT_BROKER_SECONDARY_HOST=
MQTT_BROKER_SECONDARY_PORT=
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_BROKER_PORT=
MQTT_TOPIC_STATUS=
